body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
    max-width: 50%;
    height: auto;
    display: block;
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

address {
  font-style: normal;
  margin-top: 10px;
}

address strong {
  display: block;
}
